<script type="module" src="js/modaleSuppression.js"></script>


<dialog id="modaleSuppression">
  <p>Confirmer la suppression</p>
  <div class="actions">
    <button class="ok">Oui</button>
    <button class="ko">Non</button>
  </div>
</dialog>