<dialog id="modaleConnexion" class="modale">
  <section>
    <h1>Connexion</h1>
    
    <form name="frmConnexion" method="POST">

      <br><span id="messageErreurConnexion">&nbsp;{{ messageErreurConnexion }}</span>

      <label>Courriel</label>
      <input name="utilisateur_courriel" value="">

      <label>Mot de passe</label>
      <input type="password" name="utilisateur_mdp" value="">
    
      <input type="submit" value="Envoyer">

    </form>
  </section>
</dialog>