<section class="profil-container">
    <h1>Profil</h1>
    <div class="section">
        <h2><a href="profil?entite=enchere&action=l">Mes enchères</a></h2>
        <!-- Contenu de la section "Mes enchères" -->
    </div>
    <div class="section">
        <h2><a href="profil?entite=favori&action=l">Mes favoris</a></h2>
        <!-- Contenu de la section "Mes favoris" -->
    </div>
    <div class="section">
        <h2><a href="profil?entite=mise&action=l">Mes mises</a></h2>
        <!-- Contenu de la section "Mes mises" -->
    </div>
</section>
